spring:
  application:
    name: training-management-system
    
  datasource:
    url: jdbc:mariadb://localhost:3306/training_db
    username: root
    password: root
    driver-class-name: org.mariadb.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
    show-sql: true
    
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

server:
  port: 8081
  servlet:
    context-path: /api

logging:
  level:
    com.training.management: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO